 <!-- footer section starts -->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper clearfix page wow fadeInUp">
                    <div class="col-md-6 footer-left">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="footer-link footer-link-1">
                                    <h4>Créer un compte</h4>
                                    <ul>
                                        <li><a href="#">View courses</a></li>
                                        <li><a href="#">Discuss</a></li>
                                        <li><a href="#">Suggest course</a></li>
                                        <li><a href="#">View courses</a></li>
                                        <li><a href="#">Discuss</a></li>
                                        <li><a href="#">Suggest course</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="footer-link footer-link-2">
                                    <h4>Create Free Account</h4>
                                    <ul>
                                        <li><a href="#">View courses</a></li>
                                        <li><a href="#">Discuss</a></li>
                                        <li><a href="#">Suggest course</a></li>
                                        <li><a href="#">View courses</a></li>
                                        <li><a href="#">Discuss</a></li>
                                        <li><a href="#">Suggest course</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1 footer-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                        <span>&copy; 2016 G&amp;G. Theme By <a href="https://themewagon.com/" target="_blank">ThemeWagon</a></span>
                    </div>
                    </div>
                </div><!-- End: .row -->
            </div><!-- End: .container-->
        </footer>
        <!-- footer section ends -->